<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script src="/js/categories.js"></script>
</head>

<body>

    <div class="header">
        <div class="row">
            <div class="col-2">
                <img src="/images/logo.png">
            </div>
            <div class="col-10">
                <h1>Bakery Application</h1>
                <nav class="menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/categories">Categories</a></li>
                        <li><a href="/products">Products</a></li>
                        <li><a class="active" href="/purchase">Purchase</a></li>
                        <li><a href="/purchase/history">Order History</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
    <div class="container">
        <h1>All Products</h1>
        <div class="row">
            <% for(var i=0; i < products.length; i++){ %>
                <div class="card col-6">
                    <img src="/images/products/<%= products[i].imagepath %>" width="100%">
                    <h1>
                        <%= products[i].productname %>
                    </h1>
                    <p class="title">$ <%= products[i].price %></p>
                    <p><%= products[i].description %></p>
                    <form method="get" action="/purchase/place/<%= products[i]._id %>">
                        <button class="card-button">Place Order</button>
                    </form>
                </div>
                <% } %>
        </div>
    </div>

    <div class="footer">
        <p>Copyright By Bakery Application since 1990.</p>
    </div>

</body>

</html>